:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
  width : 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
 
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar_logo i {
  color: var(--accent-color);
}

.navbar_bar {
  animation-name : dropdown;
  display: flex;
  list-style: none;
  padding-left: 10px;
  margin:100%;
}

.navbar_bar li {
  position : relative;
  display : block;
  padding: 10px;
  text-decoration : none;
  transition : background-color 200ms ease-out;
}

.navbar_bar li:hover {
  animation-name : dropdown;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 20px 12px;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: colum;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_bar {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_bar li {
    width: 100%;
    text-align: center;
  }
  .navbar_bar li a {
    position : relative;
    width: 100%;
    text-align: center;
    animation-name : dropdown; 
    animation-duration : 500ms;
    animation-direction : normal;
    will-change : transform;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
    
  }
 .navbar_icons > li > a{
  font-size : 5px;
  
}
  .navbar_toogleBtn {
    display: block;
  }

  .navbar_bar.active,
  .navbar_ icons.active {
    display: flex;
    text-align:center;
  }
}
	.navbar_bar{
	margin : 16px;
	width : 100px;
	text-align : center;
	
}
/* 드롭 다운.. */

.drop-down{
	width : 100%;
	padding : 0%;
	margin : 24px;/*드롭다운 길이*/
	position : absolute;
	background-color : var(--background-color);
	height : 13px;
	overflow : hidden;
	transition:0.5s;/*드롭다운 내려오는 속도*/
}
.navbar_bar > li{
	position : relative;
	width : 100px;
	
}
.drop-down > li{
	list-style-type : none;
	padding : 10px;
	display : block;
	
}
.dorp-down > li > a{
	display : flex;
	width : 100px;
	height : 30px;
	margin : 50px;
	padding : 20px;
	align-items : left;
	text-indent : 10px;
}
.navbar_bar > li:hover .drop-down{
	height : 100px;
	width : 100%;
}